notifications:
  irc: irc.freenode.org#vdebug
  slack:
    secure: BksygPSsoRfvre27w6XQN9ooKB9C1n83Bw96YurvyDHJ6BYM2Gv9fW1Sj6NHpB8MQkMaJ+9gRiBSflkP+l80t3EXAdStuI/8EM/wZu1ov6bmYT/hYQ8HnULmmPNj8uVzsX13VGEUC/YY4osWuJFM1wh61dStoF+SKrpslqWCV4w=
language: python
env:
  matrix:
    - DISTRO: 'ubuntu:16.04'
    - DISTRO: 'ubuntu:18.04'
before_install:
  - docker run --rm -d --name vdebug-distro-test -v $(pwd):/travis $DISTRO tail -f /dev/null
  - docker ps
install:
  - docker exec -t vdebug-distro-test bash -c "apt-get update && apt-get install -y vim-gtk3 xvfb python3 ruby-dev gcc automake libtool && gem install bundler && cd travis && bundle install"
script:
  - docker exec -t vdebug-distro-test bash -c "cd travis && python3 -m unittest discover"
  - docker exec -t vdebug-distro-test bash -c "cd travis && xvfb-run bundle exec rake spec features"
